<div class="how_to_use">
    <div class="chapter">
        <h3>できること１</h3>
    </div>
    <div class="chapter">
        <h3>できること２</h3>
    </div>
    <div class="chapter">
        <h3>できること３</h3>
    </div>
    <div class="chapter">
        <h3>できること４</h3>
    </div>
</div>
